.logo {
    width: 90px;
    height: 90px;
}

.card {
    width: 600px;
    height: 300px;
}

.blueText {
    color: blue;
    font-size: 1.0rem;
}

.centerText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero {
    margin-top: -80px;
}
